@model MVCDemo.Models.Account
@{
   
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleSection{
   Detail
}
@section HeaderSection{
    @*注释：这里放引入js css的代码  没有可省略本部分*@
    <link href="~/Content/Site.css" rel="stylesheet" />
}
@section ContentBody{ 
    <div class="body-content">
        <dl>
            <dt>@Html.DisplayNameFor(model => model.ID):</dt>
            <dd>@Html.DisplayFor(model => model.ID)</dd>

            <dt>@Html.DisplayNameFor(model => model.Email):</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>

            <dt>@Html.DisplayNameFor(model => model.Address):</dt>
            <dd>@Html.DisplayFor(model => model.Address)</dd>
        </dl>
    </div>
    }

